@import "../common/header.css";
@import "../common/footer.css";
@import "../common/section_title.css";
@import "../common/label_hidden.css";
@import "../common/banner.css";

.container_detail {
    padding-block: 8rem;
}

/* 카테고리 영역 */
.category_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    span {
        position: relative;
        color: #888;
        font-size: 1.4rem;

        &:after {
            content: "->";
            margin-left: 1rem;
        }

        &.category_third {
            &:after {
                display: none;
            }
        }
    }
}

/* 제목 영역 */
.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 2.4rem;
    word-break: keep-all;

    .marker {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;
        color: #fff;
        font-size: 1.2rem;
        background-color: #000;
        border-radius: 0.8rem;
    }
}

/* 게시글 정보 영역 */
.information_container {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 3rem;

    .profile_container {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        border: 1px solid #e8e8e8;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .information_content_container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;

        .information_content_box {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;

            .name {
                font-family: var(--font-700);
                font-size: 1.4rem;
            }

            .degree {
                font-size: 1.2rem;
            }

            .count,
            .date {
                font-size: 1.4rem;
            }
        }
    }
}

/* 첨부 파일 영역 */
.file_attachment_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    .file_count {
        padding: 0;
        font-size: 1.4rem;
        border: none;
        background-color: transparent;
    }

    .file_list_popup_container {
        position: absolute;
        top: 2rem;
        right: 0;
        padding: 4rem 2rem 2rem;
        border: 1px solid #e8e8e8;
        border-radius: 0.8rem;
        background-color: #f5f5f5;
        z-index: 9;
        button {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }

        ul {
            li {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-top: 1rem;
                font-size: 1.4rem;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.2rem 0.5rem;
                    margin-left: 1rem;
                    color: #fff;
                    font-size: 1.2rem;
                    background-color: #000;
                    border-radius: 0.5rem;
                }
            }
        }
    }
}

/* 본문 콘텐츠 영역 */
.content_container {
    /* height: 20rem; */
    height: auto;
    min-height: 20rem;
    margin-top: 2rem;
    padding: 1rem;
    border-block: 1px solid #e8e8e8;
    font-size: 1.6rem;
    word-break: keep-all;
    img {
        display: block;
        width: auto;
        height: auto;
        max-width: 100%;
        object-fit: cover;
    }
    img + img {
        margin-top: 2rem;
    }
}

/* 비밀글 설정 영역 */
.secret_button_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 1rem;

    label {
        font-size: 1.4rem;
    }
}

/* 게시글 컨트롤러 영역 */
.controller_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 2rem;

    button,
    a {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        font-size: 1.4rem;
        background-color: #f5f5f5;
        border: 1px solid #e8e8e8;
        border-radius: 0.8rem;

        &.list_button {
            margin-left: auto;
        }
    }
}

/* 댓글 상태 영역 */
.comment_state_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 2rem;
    font-size: 1.4rem;

    .icon {
        font-style: normal;
    }

    .like_state {
        .icon {
            color: #e8e8e8;
            background-color: transparent;
            border: none;

            &.active {
                color: #ff402b;
            }
        }
    }

    .comment_state {
        .icon {
            color: #1d1d1d;
            background-color: transparent;
            border: none;
        }
    }
}

/* 댓글 컨테이너 */
.comment_container {
    padding: 2rem 1rem;
    margin-top: 1rem;
    border: 1px solid #e8e8e8;
    border-radius: 0.8rem;

    .comment_input_container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        width: 100%;

        input {
            width: 100%;
            height: 4rem;
            padding: 1rem;
            font-size: 1.6rem;
            border: 1px solid #e8e8e8;
            border-radius: 0.8rem;
        }

        .comment_write_button {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            padding: 0.5rem 1rem;
            font-size: 1.4rem;
            background-color: #f5f5f5;
            border: 1px solid #e8e8e8;
            border-radius: 0.8rem;
        }
    }

    .re_comment_input_container {
        margin-top: 2rem;
    }

    .state_container {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;

        button {
            display: flex;
            align-items: center;
            padding: 0.5rem 1rem;
            font-size: 1.2rem;
            background-color: #f5f5f5;
            border: 1px solid #e8e8e8;
            border-radius: 0.8rem;

            i {
                margin-left: 0.5rem;
                font-style: normal;
            }
        }
    }

    .user_information_container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 0.5rem;
        color: #aaa;
        font-size: 1.2rem;

        .name {
            margin-right: 0.5rem;
            padding-right: 0.5rem;
            border-right: 1px solid #e8e8e8;
        }
    }

    .comment_list {
        margin-top: 2rem;

        .comment_item {
            .comment_box {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                gap: 2rem;

                .comment {
                    .text {
                        font-size: 1.6rem;
                        word-break: keep-all;
                    }

                    .re_comment_button {
                        display: flex;
                        align-items: center;
                        margin-top: 1rem;
                        padding: 0.5rem 1rem;
                        font-size: 1.2rem;
                        background-color: #f5f5f5;
                        border: 1px solid #e8e8e8;
                        border-radius: 0.8rem;
                    }
                }

                .state_container {
                    flex: 0 0 auto;
                }
            }
            & + .comment_item {
                margin-top: 2rem;
            }
        }

        .re_comment_list {
            margin-top: 1rem;

            &.visible {
                display: block;
            }

            .re_comment_item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 2rem;
                padding: 1rem 1rem 1rem 3rem;
                font-size: 1.6rem;
                border-bottom: 1px solid #e8e8e8;

                &:first-child {
                    border-top: 1px solid #e8e8e8;
                }

                &:nth-child(odd) {
                    background-color: #f8f8f8;
                }

                button {
                    background-color: #fff;
                }
            }
        }
    }
}
